		.middle {
			width: 100%;
			height: 100%;
		}

		td {
			padding: 1px; /* Fixed padding */
			border: 1px solid black; /* Explicit border as required */
		}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}

		#table-2 {
			margin-top: 30px;
		}

		#table-3 {
			margin-top: 30px;
		}

		#t-image {
			height: 100px;
			align-content: center;
		}